params {
    meta   = "$baseDir/assets/meta.tsv"  // Input meta tsv file
    outdir = "$baseDir/results"  // Output directory
}

process {
    executor = 'slurm'
    cpus     = 192
    memory   = 384.GB
    time     = 24.h
    queue    = 'cn-long'

    withName: 'autogluon_train' {
        container  = "$baseDir/images/autogluon.sif"  // Local Singularity image path
        publishDir = [
            path : { "${params.outdir}" },
            mode : 'copy'
        ]
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /lustre1,/lustre2"
    }
}
